body {
    font-family: 'Tahoma', serif;
    font-size: 16px;
    background-color: #00adee;
    margin: 0px;
}

#options {
    display: flex;    
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.1);    
    padding: 0px;
    margin: 0px;
}

#options li {
    list-style: none;
    display: inline-block;
    flex: 1;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #FFFFFF;
    border-right: 1px solid #383e42;
    border-bottom: 1px solid #383e42;
}

#countdown {    
    text-align: center;    
    font-size: 2rem;
    color: #383e42;        
}
